DATABASE_URL=
PORT=5000
NODE_ENV=development
FRONTEND_URL=http://localhost:3000
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000
ENABLE_DEV_AUTH_BYPASS=true
BETTER_AUTH_SESSION_COOKIE_NAME=better-auth.session-token
